# Bağımlılıklar (Dependencies)
/node_modules
/npm-debug.log*
/yarn-error.log*
/pnpm-debug.log*

# Build çıktıları (Production/Build Ouput)
# /dist
/build
/out
/public

#Yerel çalışma ve ayarlar (Local environmet/Settings)
.env
.env.local
.vscode
.idea
*.log
*.sqlite
/tmp

# Mac/Windows geçici dosyaları
.DS_Store
Thumbs.db